<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evio.samll2.mapper.OrderGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.evio.samll2.pojo.OrderGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="goodId" property="goodid" jdbcType="INTEGER" />
    <result column="goodName" property="goodname" jdbcType="VARCHAR" />
    <result column="goodPrice" property="goodprice" jdbcType="DOUBLE" />
    <result column="goodNum" property="goodnum" jdbcType="INTEGER" />
    <result column="goodImg" property="goodimg" jdbcType="VARCHAR" />
    <result column="creaetDate" property="creaetdate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, goodId, goodName, goodPrice, goodNum, goodImg, creaetDate, updateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.evio.samll2.pojo.OrderGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from small_order_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from small_order_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from small_order_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.evio.samll2.pojo.OrderGoodsExample" >
    delete from small_order_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.evio.samll2.pojo.OrderGoods" >
    insert into small_order_goods (id, orderId, goodId, 
      goodName, goodPrice, goodNum, 
      goodImg, creaetDate, updateDate
      )
    values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, #{goodid,jdbcType=INTEGER}, 
      #{goodname,jdbcType=VARCHAR}, #{goodprice,jdbcType=DOUBLE}, #{goodnum,jdbcType=INTEGER}, 
      #{goodimg,jdbcType=VARCHAR}, #{creaetdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.evio.samll2.pojo.OrderGoods" >
    insert into small_order_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="goodid != null" >
        goodId,
      </if>
      <if test="goodname != null" >
        goodName,
      </if>
      <if test="goodprice != null" >
        goodPrice,
      </if>
      <if test="goodnum != null" >
        goodNum,
      </if>
      <if test="goodimg != null" >
        goodImg,
      </if>
      <if test="creaetdate != null" >
        creaetDate,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="goodid != null" >
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        #{goodprice,jdbcType=DOUBLE},
      </if>
      <if test="goodnum != null" >
        #{goodnum,jdbcType=INTEGER},
      </if>
      <if test="goodimg != null" >
        #{goodimg,jdbcType=VARCHAR},
      </if>
      <if test="creaetdate != null" >
        #{creaetdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.evio.samll2.pojo.OrderGoodsExample" resultType="java.lang.Integer" >
    select count(*) from small_order_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update small_order_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.goodid != null" >
        goodId = #{record.goodid,jdbcType=INTEGER},
      </if>
      <if test="record.goodname != null" >
        goodName = #{record.goodname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodprice != null" >
        goodPrice = #{record.goodprice,jdbcType=DOUBLE},
      </if>
      <if test="record.goodnum != null" >
        goodNum = #{record.goodnum,jdbcType=INTEGER},
      </if>
      <if test="record.goodimg != null" >
        goodImg = #{record.goodimg,jdbcType=VARCHAR},
      </if>
      <if test="record.creaetdate != null" >
        creaetDate = #{record.creaetdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedate != null" >
        updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update small_order_goods
    set id = #{record.id,jdbcType=INTEGER},
      orderId = #{record.orderid,jdbcType=VARCHAR},
      goodId = #{record.goodid,jdbcType=INTEGER},
      goodName = #{record.goodname,jdbcType=VARCHAR},
      goodPrice = #{record.goodprice,jdbcType=DOUBLE},
      goodNum = #{record.goodnum,jdbcType=INTEGER},
      goodImg = #{record.goodimg,jdbcType=VARCHAR},
      creaetDate = #{record.creaetdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.evio.samll2.pojo.OrderGoods" >
    update small_order_goods
    <set >
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="goodid != null" >
        goodId = #{goodid,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        goodPrice = #{goodprice,jdbcType=DOUBLE},
      </if>
      <if test="goodnum != null" >
        goodNum = #{goodnum,jdbcType=INTEGER},
      </if>
      <if test="goodimg != null" >
        goodImg = #{goodimg,jdbcType=VARCHAR},
      </if>
      <if test="creaetdate != null" >
        creaetDate = #{creaetdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evio.samll2.pojo.OrderGoods" >
    update small_order_goods
    set orderId = #{orderid,jdbcType=VARCHAR},
      goodId = #{goodid,jdbcType=INTEGER},
      goodName = #{goodname,jdbcType=VARCHAR},
      goodPrice = #{goodprice,jdbcType=DOUBLE},
      goodNum = #{goodnum,jdbcType=INTEGER},
      goodImg = #{goodimg,jdbcType=VARCHAR},
      creaetDate = #{creaetdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>